
<div *ngIf="!info.email">
    <a [routerLink]="['/se-connecter']">Connexion</a>
    <a routerLink="/devenir-vendeur">Devenir vendeur</a>
</div>

<div *ngIf="info.email">
    Connecté : {{info.email}}
    <a routerLink="/vendeur">Mon espace vendeur</a>
</div>

<h1>Bienvenue sur la place de marché</h1>


<h2>Chercher un produit :</h2>

<div class="form-group">
    <label for="ville">Ville</label>
    <input type="text" class="form-control" name="ville" [(ngModel)]="ville.value" />
    <div [hidden]="!ville.errors.required"></div>
</div>

<div class="form-group">
    <label for="nom">nom</label>
    <input type="text" class="form-control" name="nom" [(ngModel)]="nom.value" />
    <div [hidden]="!nom.errors.required"></div>
</div>

<div class="form-group">
    <button (click)="rechercher()"></button>
</div>