<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">LOGO</a>
        </div>
    </div>
</div>


<div class="container" style="margin-top:150px">
    <div class="pull-right">
        Déjà membre ? <a [routerLink]="['/se-connecter']" class="btn btn-info" style="margin-left:50px">Connectez vous</a>
    </div>
</div>

<div class="container" style="margin-top:50px">

    <div class="col-md-6 col-md-offset-3">

        <div class="col-md-12">
            <div class="form-group">
                <label>Vous êtes</label>
                <div class="radio">
                    <label>
                    <input type="radio" name="genre" value="homme" [(ngModel)]="genre">
                    Un homme
                    </label>
                    <label style="margin-left:20px">
                    <input type="radio" name="genre" value="femme"[(ngModel)]="genre">
                    Une femme
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Prénom</label>
                <input type="text" class="form-control" name="prenom" placeholder="prénom" [(ngModel)]="prenom.value" />
                <div [hidden]="!prenom.errors.required">
                Veuillez saisir votre prenom
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Nom</label>
                <input type="text" class="form-control" name="nom" placeholder="nom" [(ngModel)]="nom.value" />
                <div [hidden]="!nom.errors.required">
                Veuillez saisir votre nom
                </div>
            </div>
        </div>    
        <div class="col-md-12">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" placeholder="email" [(ngModel)]="email.value" />
                <div [hidden]="!email.errors.required">
                Veuillez saisir votre adresse email
                </div>
            </div>
        </div>    
        <div class="col-md-12">
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" name="password" placeholder="mot de passe" [(ngModel)]="password.value"/>
                <div [hidden]="!password.errors.required">
                Veuillez saisir un mot de passe
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="confirmerpassword">Mot de passe</label>
                <input type="password" class="form-control" name="confirmerpassword" placeholder="confirmer mot de passe" [(ngModel)]="confirmerpassword.value"/>
                <div [hidden]="!confirmerpassword.errors.required">
                Veuillez confirmer votre mot de passe
                </div>
            </div>
        </div>

 
        <div class="col-md-12" style="margin-top:20px;">
            <div class="form-group">
                <button [disabled]="loading" (click)="devenirVendeur()" class="btn btn-primary btn-block">Inscription</button>
            </div>
        </div>

        <div class="col-md-12" style="margin-top:20px;text-align:justify">
            En vous inscrivant par e-mail, vous acceptez les Conditions Générales et la Politique de Confidentialité.

            Les informations ci-dessus sont toutes obligatoires pour devenir membre. 
            Elles sont collectées afin de créer votre compte, 
            communiquer avec nous ou les membres et, le cas échéant, mettre un terme à notre relation. 
            Vous disposez d'un droit d’accès, de rectification et d’opposition.
        </div>
    </div>
</div>